*{margin:0;padding:0;}
.list{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.list dl{
    display: flex; 
    height: 80px;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 0.0625px solid #f5f5f5;
}
dl dt{
    width: 30%;
    
}
dl dt img{
    width:100%;
    height:auto;
}
dl dd{
    width: 70%;
}
h3{
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #474245;
    font-weight: normal;
}
p{

font-size: 12px;
}